:root {
    --input-font-size: 30px;
    --input-line-height: 70px;
    --font-family: Roboto Slab, sans-serif;
}

.input-highlight {
    font-size: var(--input-font-size);
    line-height: var(--input-line-height);
    font-family: var(--font-family);
    max-width: 100%;
    color: transparent;
    user-select: none;
    overflow: hidden;
    border-top: 3px solid white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
}
.input_wrap {
    width: 90%;
    margin: 50px auto;
    position: relative;
}
input {
    height: 60px;
    width: 100%;
    min-width: 100%;
    padding: 0;
    border-radius: 0;
    line-height: var(--input-line-height);
    background-color: transparent;
    font-size: var(--input-font-size);
    border: none;
    outline: none;
    border-bottom: 3px solid #333333;
    font-family: var(--font-family);
}